<!doctype html>
<html lang="en" ng-app="ShoppingCartCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/tobuy.controller.js"></script>
    <script src="scripts/alreadybought.controller.js"></script>
    <script src="scripts/app.service.js"></script>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/site.css">
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buy">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in buy.items">Buy {{item.quantity}}{{getJoiner(item)}}{{item.description}} <button ng-click="buy.buy($index)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div ng-if="!buy.items.isEmpty()" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.items">Bought {{item.quantity}}{{getJoiner(item)}}{{item.description}}</li>
     </ul>
     <div ng-if="!bought.items.isEmpty()"class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
